server:
  port: 8083
spring:
  profiles:
    active: chaos-monkey
  application:
    name: hotdeals
  zipkin:
    base-url: http://jaeger-server:9411
    sender:
      type: web
  sleuth:
    sampler:
      probability: 1.0
  jmx:
    enabled: false

management:
  endpoint:
    chaosmonkey:
      enabled: true
  endpoints:
    web:
      exposure:
        include: '*'
chaos:
  monkey:
    enabled: false
    watcher:
      restController: true
      service: false
    assaults:
      latency-active: false